<h2><%= @task.title %></h2>
<hr>
<div class="row">
  <div class="col-md-8">
    <strong>Title:</strong>
    <%= @task.title %>
    <br/>
    <strong>Content:</strong>
    <%= @task.content %>
    <br/>
    <%- if Blast::Core.available?(:contacts) %>
      <strong>Contact:</strong>
      <%= @task.contact.email %>
      <br/>
    <% end %>
    <strong>User:</strong>
    <%= @task.user.email %>
    <br/>
  </div>
</div>
<hr>
<%= link_to 'Edit', blast.edit_task_path(@task), class: "btn btn-primary" %>
<%= link_to 'Back', blast.tasks_path, class: 'btn btn-default' %>
