<h2 class='float-left'>Admin Panel</h2>

<%= render 'admin/shared/nav' %>

<div class='clearfix'></div>
<hr>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        Last 3 users
        <div class="float-right">
          <%= link_to 'See All', blast.admin_users_path %>
        </div>
      </div>
      <table class="table table-bordered mb-0">
        <tbody>
          <%- @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.email %></td>
              <td class="text-right">
                <%= user.created_at.strftime("%d %b. %Y") %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%
=begin%>
 <div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        Last 3 contacts
        <div class="float-right">
          <%= link_to 'See All', blast.contacts_path %>
        </div>
      </div>
      <table class="table table-bordered mb-0">
        <tbody>
          <%- @contacts.each do |contact| %>
            <tr>
              <td><%= contact.id %></td>
              <td><%= contact.email %></td>
              <td class="text-right">
                <%= contact.created_at.strftime("%d %b. %Y") %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div> 
<%
=end%>
